<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>spotme</title>
    <link rel="stylesheet" href="index.css" />
    <link rel="stylesheet" href="playlist.css">
    <script src="../scripts/playlist/playlist.js"></script>
    <!-- <script src="./scripts/auth/authtest.js"></script> -->
  </head>
  <body>
    <div class="main">
      <div class="drag"></div>
      <!-- content -->
      <div class="content">
        <div class="playlist-info">
          <button class="btn back-btn" onclick="backToPlay()">
            <img src="../assets/back.svg" alt="">
          </button>
          <span class="playlist-name">RAP from my HEART</span>
        </div>
        <div class="songs-container">
          <ul id="songs-list">
            <li class="song">
              <div class="song-info">
                <img src="../assets/avatar.png" alt="">
                <div class="song-details">
                  <span class="song-title">Next to Nothing</span>
                  <span class="song-author">SoulChef, Noah King</span>
                </div>
              </div>
            </li>
            <li class="song">
              <div class="song-info">
                <img src="../assets/avatar.png" alt="">
                <div class="song-details">
                  <span class="song-title">Next to Nothing</span>
                  <span class="song-author">SoulChef, Noah King</span>
                </div>
              </div>
            </li>
            <li class="song">
              <div class="song-info">
                <img src="../assets/avatar.png" alt="">
                <div class="song-details">
                  <span class="song-title">Next to Nothing</span>
                  <span class="song-author">SoulChef, Noah King</span>
                </div>
              </div>
            </li>
            <li class="song">
              <div class="song-info">
                <img src="../assets/avatar.png" alt="">
                <div class="song-details">
                  <span class="song-title">Next to Nothing</span>
                  <span class="song-author">SoulChef, Noah King</span>
                </div>
              </div>
            </li>
            <li class="song">
              <div class="song-info">
                <img src="../assets/avatar.png" alt="">
                <div class="song-details">
                  <span class="song-title">Next to Nothing</span>
                  <span class="song-author">SoulChef, Noah King</span>
                </div>
              </div>
            </li>
            <li class="song">
              <div class="song-info">
                <img src="../assets/avatar.png" alt="">
                <div class="song-details">
                  <span class="song-title">Next to Nothing</span>
                  <span class="song-author">SoulChef, Noah King</span>
                </div>
              </div>
            </li>
            <li class="song">
              <div class="song-info">
                <img src="../assets/avatar.png" alt="">
                <div class="song-details">
                  <span class="song-title">Next to Nothing</span>
                  <span class="song-author">SoulChef, Noah King</span>
                </div>
              </div>
            </li>
            <li class="song">
              <div class="song-info">
                <img src="../assets/avatar.png" alt="">
                <div class="song-details">
                  <span class="song-title">Next to Nothing</span>
                  <span class="song-author">SoulChef, Noah King</span>
                </div>
              </div>
            </li>
            <li class="song">
              <div class="song-info">
                <img src="../assets/avatar.png" alt="">
                <div class="song-details">
                  <span class="song-title">Next to Nothing</span>
                  <span class="song-author">SoulChef, Noah King</span>
                </div>
              </div>
            </li>
            <li class="song">
              <div class="song-info">
                <img src="../assets/avatar.png" alt="">
                <div class="song-details">
                  <span class="song-title">Next to Nothing</span>
                  <span class="song-author">SoulChef, Noah King</span>
                </div>
              </div>
            </li>
            <li class="song">
              <div class="song-info">
                <img src="../assets/avatar.png" alt="">
                <div class="song-details">
                  <span class="song-title">Next to Nothing</span>
                  <span class="song-author">SoulChef, Noah King</span>
                </div>
              </div>
            </li>
            <li class="song">
              <div class="song-info">
                <img src="../assets/avatar.png" alt="">
                <div class="song-details">
                  <span class="song-title">Next to Nothing</span>
                  <span class="song-author">SoulChef, Noah King</span>
                </div>
              </div>
            </li>
            <li class="song">
              <div class="song-info">
                <img src="../assets/avatar.png" alt="">
                <div class="song-details">
                  <span class="song-title">Next to Nothing</span>
                  <span class="song-author">SoulChef, Noah King</span>
                </div>
              </div>
            </li>
          </ul>
          <span class="songs-shadow"></span>
        </div>
      </div>
      <!-- gradinet -->
      <span class="gradient gradient-2" style="background-color: var(--color-spotify)"></span>
      <span class="gradient gradient-1" style="background-color: var(--color-spotify)"></span>
    </div>
  </body>
</html>
